body {
  position: relative;
  background: none !important;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/s.png");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.15;
  z-index: -1;
  pointer-events: none;
}


#root {
  position: relative;
  z-index: 2;
}
